// DESKTOP
@include media-desktop {
  .about {
    .about_bio {
      &-img {
        margin: 0 auto;
        width: 100%;
      }
    }

    &-img {
      margin: 0 auto;
      width: 60%;
    }

    .jobs {
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      &_job {
        margin: 0 auto;
        width: 60%;
        margin-top: 3.5rem;
      }
    }
  }

  .projects {
    &_items {
      display: flex;
      flex-wrap: wrap;
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }

  .contact {
    i {
      padding-top: 2rem;
    }
  }
}

// MOBILE
@include media-mobile {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateX(0);
      height: 100%;
      background: transparent;
      text-align: right;
      padding-top: 1rem;

      &_item {
        display: inline;
        padding-right: 1.5rem;
      }

      &_link {
        font-size: 1.3rem;
      }

      &_link:hover {
        @include transition-ease;
        color: $secondary-color;
      }
    }
  }

  .about_bio {
    font-size: 1.3rem;

    &-img {
      padding-left: 2.7rem;
      padding-right: 1rem;
    }
  }

  .projects {
    width: 100%;

    &_bio-img {
      height: 40vh;
    }

    &_item {
      &_items {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .text-secondary {
      font-size: 3rem;
    }
  }

  .contact {
    &_list > div {
      padding-top: 1.7rem;
    }
  }
}
