#about {
  height: 1747px;
  padding: 5rem;
  position: relative;
}

section .container .about .text {
  text-align: center;
}

section .container .about .text h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

section .container .about .text h3 {
  font-size: 1rem;
  color: grey;
  font-weight: 200;
  margin-bottom: 3.5rem;
}

section .container .about .time {
  position: relative;
}

section .container .about .timeline ul {
  margin-bottom: 1rem;
}

.timeline::before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 1250px;
  content: "";
  background-color: #e9ecef;
}

.timeline > li:before {
  content: " ";
  display: table;
}

.timeline > li:last-child {
  margin-bottom: 0;
  color: #fff;
}

.timeline-li {
  min-height: 170px;
  margin-bottom: 100px;
  display: list-item;
}

.timeline-li h3 {
  padding: 41px;
}

section .container .about .timeline .timeline-image {
  position: absolute;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
  width: 170px;
  height: 170px;
  margin-left: -85px;
  text-align: center;
}

section .container .about .timeline .timeline-image img {
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}

section .container .about .timeline .timeline-text {
  position: relative;
  padding: 0 20px 20px 100px;
  width: 41%;
  text-align: right;
}

section .container .about .timeline .timeline-text .head-text {
  text-align: center;
}

section .container .about .timeline .timeline-text .head-text h4 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-align: right;
}

section .container .about .timeline .timeline-text .body-text p {
  line-height: 1.75;
  margin-bottom: 0;
  color: #6c757d;
  text-align: left;
}
