#about {
  padding: 0 5rem;
  position: relative;
}

section .text {
  text-align: center;
}

section .text h2 {
  font-size: 2.5rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

section .text h3 {
  font-size: 1rem;
  color: grey;
  font-weight: 200;
  margin-bottom: 3.5rem;
}

section .row .time {
  position: relative;
}

section .row .timeline ul {
  margin-bottom: 1rem;
}

.timeline::before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  content: "";
  background-color: #e9ecef;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-end {
  justify-content: flex-end;
}

h2 {
  display: flex;
  justify-content: flex-start;
}

.timeline .timeline-image {
  border: 7px solid #e9ecef;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  text-align: center;
}

section .wrapper .timeline .timeline-image img {
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}

section .wrapper .timeline .timeline-text .head-text h4 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

section .wrapper .timeline .timeline-text .body-text p {
  line-height: 1.75;
  color: #6c757d;
}

.timeline-text {
  flex: 1 0 0;
}

.image-end {
  margin-right: -85px;
  position: relative;
  z-index: 2;
}

.image-start {
  margin-left: -85px;
  position: relative;
  z-index: 2;
}
