section .services .text {
  text-align: center;
}

section .services .text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

section .services .text h3 {
  font-size: 1rem;
  font-weight: 400;
  color: grey;
}

section .services .row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  padding: 3rem;
}

section .services .row .col {
  flex: 0 0 auto;
  width: 33%;
}

.icon {
  background-color: #fac811;
  color: #fff;
  display: inline-block;
  width: 2em;
  position: relative;
  font-size: 4em;
  border-radius: 50%;
  padding: 25px;
}

section .services .row .col h4 {
  display: block;
  font-weight: 700;
  line-height: 3;
  text-align: center;
  font-size: 1.5rem;
}

section .services .row .col p {
  font-size: 0.95rem;
  color: #6c757d;
}
