#team {
  background-color: #f8f9fa;
}

section .text {
  text-align: center;
}

section .text h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

section .text h3 {
  font-size: 0.9rem;
  color: grey;
}

section .row {
  display: flex;
  flex-wrap: wrap;
}

section .row .col {
  width: 33%;
  flex: 0 0 auto;
}

section .row .col .member {
  text-align: center;
  margin-bottom: 3rem;
}

section .row .col .member img {
  border-radius: 50%;
  border: 0.5rem solid #dfe0e1;
  width: 14rem;
  height: 14rem;
}

section .row .col .member h4 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

section .row .col .member p {
  color: #6c757d;
  line-height: 1.75;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

section .row .col .member a {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  border-radius: 50%;
  background-color: #000;
  margin-right: 1rem;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0;
}

section .row .col .member a:hover {
  background-color: rgb(63, 63, 63);
  transition: all 0.35s ease;
}

section .paragraph {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  flex: 0 0 auto;
}

section .paragraph p {
  margin: 0 auto;
  color: #6c757d;
  line-height: 1.75;
  font-size: 0.85rem;
  width: 66%;
}

.logo {
  padding: 3rem 0;
  height: 180px;
}

.logo .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo .row .col {
  margin: 1rem 0;
  flex: 0 0 auto;
  width: 25%;
}

.logo .row .col a img {
  height: 2.75rem;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.col-half {
  max-width: 50%;
}
