.about {
  background-color: var(--bg-color);
  background-image: url(img/about-2.png);
}

.about .about-content {
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.about .about-content h4 {
  color: var(--text);
  font-weight: 400;
  font-size: 20px;
}

.about .about-content h2 {
  color: var(--title-text);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.about .about-content p {
  font-weight: 300;
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  /* @Desktop */
  .about .about-content h2 {
    font-size: 5rem;
  }

  .about .about-content p {
    font-size: 2rem;
  }
}

@media (max-width: 1023px) {
  /* @Mobile */
  .about {
    text-align: center;
  }

  .about .about-content h2 {
    font-size: 2rem;
  }

  .about .about-content p {
    font-size: 1.5rem;
  }

  .about .about-content > * {
    width: 100%;
  }

  .about .about-content > *:first-child {
    margin-bottom: calc(var(--gutter) * 2);
  }

  .about .button {
    position: relative;
    left: calc(var(--gutter) * 12);
  }
}
