footer {
  background-color: var(--title-text);
}

.subtitle {
  position: relative;
  right: 10%;
}

.footer-content {
  padding: 100px 200px;
}

.footer-logo p {
  color: var(--primary-text);
  font-size: 15px;
}

.subtitle {
  position: relative;
  left: 5px;
}

.subtitle .quick-links h3 {
  font-size: 25px;
  font-weight: 500;
}

.subtitle .quick-links span {
  font-size: 12px;
}

.subtitle .quick-links span:first-child {
  margin-top: 15px;
}

.quick {
  color: var(--primary-text);
  font-size: 16px;
}

.quick-h3 {
  color: var(--primary-text);
  font-size: 25px;
  font-weight: bold;
}

.footer-contact h3 {
  font-size: 25px;
  font-weight: 600;
}

.follow .social-media a {
  padding: 10px 10px;
}

.copy p {
  color: var(--primary-text);
  font-size: 17px;
  position: relative;
  top: 50px;
  left: 270px;
}

@media (min-width: 1024px) {
  /* @Desktop */

  .footer .footer-content p {
    font-size: 2rem;
  }
}

@media (max-width: 1023px) {
  /* @Mobile */
  .footer {
    text-align: center;
  }

  .footer .footer-content h2 {
    font-size: 2rem;
  }

  .footer .footer-content p {
    font-size: 1.5rem;
  }

  .footer .footer-content > * {
    width: 100%;
  }

  .footer .footer-content > *:first-child {
    margin-bottom: calc(var(--gutter) * 2);
  }

  .subtitle > div {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .copy {
    transform: translate(-115%, 10%);
  }
}
