footer {
  width: 100%;
  background-color: var(--title-text);
}

.subtitle {
  position: relative;
  right: 10%;
}

.footer-content {
  padding: 100px 100px;
}

.footer-logo p {
  color: var(--primary-text);
  font-size: 15px;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle .quick-links h3 {
  font-size: 25px;
  font-weight: 500;
}

.subtitle .quick-links span {
  font-size: 12px;
}

.subtitle .quick-links span:first-child {
  margin-top: 15px;
}

.quick {
  color: var(--primary-text);
  font-size: 16px;
}

.quick-links {
  font-size: 28px;
  align-items: center;
}

.quick-h3 {
  color: var(--primary-text);
  font-size: 28px;
  font-weight: bold;
}

.footer-contact h3 {
  font-size: 28px;
  font-weight: bold;
}

.follow .social-media a {
  padding: 10px 10px;
}

.copy {
  padding-top: 7rem;
}

.copy p {
  color: var(--primary-text);
  font-size: 18px;
}

@media (min-width: 1200px) {
  /* @Desktop */

  .footer .footer-content p {
    font-size: 2rem;
  }
}

@media (max-width: 1199px) {
  /* @Mobile */

  .footer {
    text-align: center;
  }

  .footer-logo {
    margin-left: 40px;
  }

  .footer .footer-content h2 {
    font-size: 2rem;
  }

  .footer .footer-content p {
    font-size: 1.5rem;
  }

  .footer .footer-content > * {
    width: 100%;
  }

  .footer .footer-content > *:first-child {
    margin-bottom: calc(var(--gutter) * 2);
  }

  .footer-contact {
    margin-left: 40px;
  }

  .subtitle > div {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .copy {
    padding-left: 20px;
    padding-right: 20px;
  }

  .copy p {
    font-size: 11px;
  }
}
