.pricing-content {
  align-items: center;
  text-align: center;
}

.pricing-content h2 {
  color: var(--title-text);
  font-size: 35px;
  margin-bottom: 1rem;
  padding: 10px 80px;
}

.pricing-content p {
  font-size: 17px;
  margin-bottom: 4rem;
  font-weight: 300;
}

.banner {
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 40px 40px 45px;
  margin-bottom: 3rem;
}

.banner i {
  color: var(--primary);
  font-size: 5rem;
  padding: var(--gutter);
}

.banner h1 {
  font-size: 4rem;
}

.banner ul > li {
  font-size: 1.7rem;
}

.banner ul > li:last-child {
  padding-bottom: 30px;
}

.banner > h1,
h4,
p,
i,
li {
  padding: 10px 10px;
}

.active {
  background: var(--title-text);
  color: var(--primary-text);
}

.active h1 {
  color: var(--primary-text);
}

.banner:hover {
  box-shadow: 0 2px 29px rgb(0 0 0 / 15%);
  cursor: pointer;
}

@media (min-width: 1024px) {
  /* @Desktop */
  .pricing .pricing-content h2 {
    font-size: 5rem;
  }

  .pricing .pricing-content p {
    font-size: 2rem;
  }
}

@media (max-width: 1023px) {
  /* @Mobile */

  .pricing .pricing-content h2 {
    font-size: 3rem;
  }

  .pricing .pricing-content p {
    font-size: 1.7rem;
  }

  .pricing .pricing-content > * {
    width: 100%;
  }

  .pricing .pricing-content > *:first-child {
    margin-bottom: calc(var(--gutter) * 2);
  }

  .banner {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
  }

  .banner .btn {
    position: relative;
    left: 150px;
  }
}
