*,
::before,
::after {
  box-sizing: border-box;
  outline: none !important;
}

html {
  font-size: 10px;
}

body {
  font-size: 1rem;
  margin: 0;
  font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  display: block;
}

img {
  max-width: 100%;
}

i {
  color: var(--primary);
}
