:root {
  --primary: #00a65c;
  --primary-text: #ffffff;
  --primary-hover: #44bf8d;
  --register: #558b95;
  --p-primary-bg: #cee7dc;
  --p-primary-border: #57ac81;
  --p-secondary-bg: #ced6e0;
  --p-secondary-border: #283379;
  --bg-color: #edecfd;
  --title-text: #013379;
  --gray: #efefef;
  --text: #000000;
  --transition: all ease 0.5s;
  --font: "Roboto", sans-serif;
  --gutter: 15px;
}
