.content-5 h4 {
  padding-top: 0.8em;
  padding-bottom: 1.2em;
}

.content-5 .row {
  display: flex;
  padding: 20px;
}

.content-5 .row > div {
  width: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.content-5 .col-1 {
  margin: 0;
}

.content-5 .head {
  color: #fff;
  width: 100%;
}

.content-5 .head h3 {
  font-size: 1.5em;
  font-weight: 400;
  display: flex;
  padding: 13px 20px;
}

.subhead h4 {
  font-size: 1.5em;
  font-weight: 400;
  display: flex;
  padding: 13px 20px;
}