section .content-2 {
  display: block;
}

.content-2 .row {
  display: flex;
  margin: 20px auto;
  width: 97%;
}

.content-2 .row > div {
  width: 100%;
  color: #fff;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.content-2 .row .col-1 {
  background-color: #e94336;
}

.content-2 .row .col-2 {
  background-color: #2196f3;
}

.content-2 .row .col-3 {
  background-color: #607d8b;
}

.content-2 .row .col-4 {
  background-color: #499788;
}

.content-2 .row .col-5 {
  background-color: #ffeb3b;
}

.content-2 .row .col-6 {
  background-color: #f29709;
}
