/* --mobile: 0;
--tablet: 768;
--laptop: 1024;
--desktop: 1200; */

@import "./_reboot.css";
@import "./_header.css";
@import "./_footer.css";
@import "./_content-1.css";
@import "./_content-2.css";
@import "./_content-3.css";
@import "./_content-4.css";
@import "./_content-5.css";
@import "./_content-6.css";
@import "./_content-7.css";

.text {
  font-weight: 400;
  text-align: center;
}

/*
.container {
  margin: 0 auto;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */
