/* --mobile: 0;
--tablet: 768;
--laptop: 1024;
--desktop: 1200; */

@import './_reboot.css';
@import './_header.css';
@import './footer.css';
@import './content-1.css';
@import './content-2.css';
@import './content-3.css';
@import './content-4.css';

.text {
  font-weight: 400;
  text-align: center;
}

/* .container {
  margin: 0 auto;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
} */

