.container {
  width: 1450px;
  padding-left: 8rem;
  padding-right: 8rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.grow-1 {
  flex: 1;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}


@media screen and (min-width: 1024px) {
  .desktop-hidden {
    display: none;
  }

  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {
  .mobile-hidden {
    display: none;
  }
}
