@media (max-width: 1023px) {
  .nav-menu {
    display: none;
  }

  .navbar button {
    padding: 10px 10px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .home-page {
    text-align: center;
  }

  .main {
    max-height: 30px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    align-items: center;
  }

  .main span {
    margin-bottom: 10px;
  }

  .main a {
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }

  .main i {
    color: rgb(255, 187, 0);
    font-size: 22px;
  }

  .tweet {
    padding-left: 6rem;
  }

  .tweet .your-tweet {
    display: none;
  }

  .mobile-tweet {
    position: absolute;
    left: 410px;
    bottom: 70px;
    background-color: #00a7ff;
    color: #fff;
    border-radius: 50%;
    padding: 15px 15px;
    font-size: 18px;
  }

  .mobile-tweet:hover {
    background-color: #0093ff;
  }

  .mobile-navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
  }

  .mobile-navbar div a {
    color: #000;
    font-size: 20px;
  }

  .trend-menu {
    display: none;
  }

  footer {
    display: none;
  }
}
