/*
MOBILE : < 1023;
DESKTOP : > 1024;
*/

@import "./_reboot.css";
@import "./_header.css";
@import "./_footer.css";
@import "./_home-page.css";
@import "./_tweet.css";
@import "./_trend.css";

.container {
  margin: 0 auto;
  max-width: 500px;
}
