#careers {
  background-color: #d5fafc;
  height: 892px;
}

.quote {
  position: absolute;
  padding-top: 75px;
  margin-left: 130px;
}

.careers-title h2 {
  font-weight: 900;
  font-size: 2.5em;
  margin-left: 240px;
  line-height: 1.2em;
  padding-top: 3.6em;
}

.careers-title h5 {
  margin-left: 240px;
  padding: 15px 0;
  font-weight: 400;
}

.card {
  max-width: 320px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1),
    0px 2px 4px -2px rgba(17, 24, 39, 0.06);
  padding: 20px;
}

.card-position {
  margin-left: 350px;
  margin-top: 50px;
}

.logo {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-text {
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 30px;
  line-height: 1.5rem;
  margin-bottom: 25px;
}

.quote2 {
  position: absolute;
  width: 15px;
  height: 12px;
  margin-bottom: 10px;
}

.testimonial {
  margin-left: 30px;
}

.testimonial-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

.testimonial-item {
  font-weight: 200;
  font-size: 12px;
}

.card-2 {
  max-width: 500px;
  margin-bottom: 30px;
}

.card-position2 {
  margin-top: 250px;
  margin-left: 40px;
}


