.container {
  width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mr {
  margin-right: 20px;
}

.mt {
  margin-top: 20px;
}

.mb {
  margin-bottom: 50px;
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .desktop-hidden {
    display: none;
  }

  .container {
    max-width: 1600px;
    margin: 0 auto;
  }

  .col {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .tablet-hidden {
    display: none;
  }

  .container {
    max-width: 460px;
    margin: 0 auto;
  }

  .col {
    padding-left: 7px;
    padding-right: 7px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;
    margin-right: -100px;
  }

  .tablet-row {
    margin: 0;
  }
}

/* MOBILE */
@media screen and (max-width: 375px) {
  .mobile-hidden {
    display: none;
  }

  .container {
    max-width: 160px;
    margin: 0 auto;
  }

  .col {
    padding-left: 3px;
    padding-right: 3px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }

  .mobile-row {
    margin: 0;
  }
}
