* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  height: 100%;
  width: 100%;
}

footer {
  font-size: 1rem;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
}
