@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --purple-color: #815ded;
  --purple-hover-color: #c4b5fd;
}
