* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

b {
  display: block;
  margin-left: 32px;
}

main {
  height: 100%;
  width: 100%;
}

footer {
  font-size: 1rem;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
}
